body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
}

.btn-custom {
  color: #fff;
  background-color: #00727d;
  border-color: #004f56;
}
.btn-custom:focus,
.btn-custom.focus {
  color: #fff;
  background-color: #00727d;
  border-color: #00373c;
}
.btn-custom:hover {
  color: #fff;
  background-color: #00636e;
  border-color: #00373c;
}
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  color: #fff;
  background-color: #004f56;
  border-color: #00373c;
}


.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}