<nav class="navbar navbar-custom navbar-static-top"> <!-- navbar -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:#2D0264" href="#">GISCoLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/projects">Projects</a></li>
                <li><a href="/account">Profile</a></li>
                <li><a href="/current">Current</a></li>
                <li><a href="/about">About</a> </li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <input id="search" type="search" class="form-control" name="search" value="" placeholder="Search">
                    </div>

                    <a id="logout" onclick="logout()" class="btn btn-default" href="/home">Logout</a>
                </form>

            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="width: 100%">
    <div class="jumbotron" style="height: 100%">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Project: {{vm.project.projectName}}</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-projects">
                            <tbody>
                            <tr>
                                <td>Creator</td>
                                <td><a ng-click="anFunction(vm.project.ownerID)">{{vm.project.ownerName}}</a></td>
                            </tr>
                            <tr>
                                <td>Collaborator:</td>
                                <td ng-repeat="col in vm.project.collaboratorID"><a ng-click="anFunction(col)">{{vm.project.collaborators[$index]}}</a></td>
                            </tr>
                            <tr>
                                <td>Created:</td>
                                <td>{{vm.project.dateCreated}}</td>
                            </tr>
                            <tr>
                                <td>Information about the Project:</td>
                                <td>{{vm.project.info}}</td>
                            </tr>
                            <tr>
                                <td>Edited:</td>
                                <td>{{vm.project.dateEdited}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="/projectUpdate" class="btn btn-link">edit Project Settings</a>
                    </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>